---
import Match from '../components/Match.astro';
import matches from '../../data/matches.json'
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Matches</title>
</head>

<body>
    {matches.map(match =>
    <Match {...match} />)}
</body>

</html>
