---
import matches from '../../data/matches.json'
import _ from 'lodash'
import { parseISO, format} from 'date-fns'
import Day from '../components/Day.astro';

const matchesByDay = _.groupBy(matches, match => format(parseISO(match.start), "PPP"))

---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
</head>

<body>
    {Object.entries(matchesByDay).map(([day, matchesOfDay]) => <Day day={day} matches={matchesOfDay}></Day>)}
</body>

</html>
