---
import { format } from "date-fns";
import Match from "./Match.astro";
import { MatchProps } from "./Match.astro";

export interface DayProps {
    day: Date
    matches: MatchProps[]
}
const { day, matches } = Astro.props as DayProps;
---
<div>
    <h2>{format(day, "PPP")}</h2>
    <div class="matches-of-day">
        {matches.map(match => <Match {...match}></Match>)}
    </div>
</div>

<style>
    .matches-of-day {
        display: grid;
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: 426px) {
        .matches-of-day {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (min-width: 768px) {
        .matches-of-day {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    /* TODO: make width fixed above something like 800px or 50em */

</style>
